html::-webkit-scrollbar {
    display: none;
}
*{
    /* background: url('museum2.jpg'); */
    /* width: 100%;  */
    margin: 0;
    padding: 0;
}

#welcome{
    text-align: center;
}

.txt-type > .txt {
    border-right: 0.1rem solid #777;
    color: maroon;
    text-align: center;
}

.taglines {
    padding: 0 25% 0% 42%;
}

.tagspan {
    display: flex;
    align-items: center;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    color: white;
}
.socials a i{
    size: 1.1rem;
    transition: color .4s ease;
}
